.jumbotron {
	margin-bottom:0px;
	background-image: url("../img/banner2.jpg");
}
.jumbotron h1 {
    color: bisque;
}
h3{
    font-weight: 400;
    color: lightsalmon;
	text-align: center;

}
.panel-primary>.panel-heading {
    background-color: cadetblue;
}
.panel-body {
    background-color: beige;
	min-height: 480px;
	color: forestgreen;
}